/ Left side column. contains the logo and sidebar
%aside.main-sidebar
  / sidebar: style can be found in sidebar.less
  %section.sidebar
    / Sidebar user panel (optional)
    .user-panel
      .pull-left.image
        = current_user_avatar
      .pull-left.info
        %p= current_user.name
        / Status
        %a
          %i.fa.fa-circle.text-success
          Online
    / Sidebar Menu
    %ul.sidebar-menu
      %li.header MENU
      / Optionally, you can add icons to the links
      %li.active
        %a{ href: "#{root_path}" }
          %i.fa.fa-link
          %span Delfi RSS Feed
